.item-container {
	display: flex;
	margin: 15px 15px 0px 15px;
	padding: 5px;
}
.item1 {
	background-color: oldlace;
	border: 5px solid black;
	padding: 5px;
}
.item2 {
	background-color: lightblue;
	border-width: 5px 5px 5px 0px;
	border-style: solid;
	border-color: black;
	padding: 5px;
}
#variable-heights {
	display: flex;
	flex-direction: column;
}