.display-images-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1800px;
}
.search-bar {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}
.card {
	width: 600px;
	display: flex;
}
.search-bar-button {
	justify-content: flex-end;
}
.display-images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1600px;
}